@import "tailwindcss";

@font-face {
  font-family: "NeueMachina";
  src: url("./assets/fonts/NeueMachina-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ManropeVariable";
  src: url("./assets/fonts/Manrope-Variable.woff2") format("woff2");
}
body {
  background-color: #000000;
}
